<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>This is the new page</p>
    <p>Contains a form</p>

    <form class="" action="/posts" method="post">
      <p>Name: <input type="text" name="name" value=""></p>
      <p>Content: <input type="text" name="content" value=""></p>

      <input type="submit" name="submit" value="submit">
    </form>
  </body>
</html>
